@import "tailwindcss";

@theme {
  --color-background: #f4f4f5; /* zinc-100 */
  --color-foreground: #171717; /* neutral-900 */
  --color-brand: #000000;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: var(--font-sans);
}
